
<div class="container-fluid" id="home">
  <h1>Les dernieres chartes</h1>
  <div class="panels-list">
      <% @panels.each do |panel| %>
      <div class="col-sm-3 panel">
        <p class="title"><%= panel.title%></p>

        <div class="colors">
          <% i = 0
          while i < panel.colors_count do
            color = panel.send :"color#{i+1}" %>
            <div class="color-display" style="flex:<%= panel.colors_count - i %>; background-color:<%= color %>;"><%= color %></div>
          <% i +=1
          end %>
        </div>

        <%= link_to(panel) do %>
          <p class="description"><%=h truncate(panel.description, :length => 40) %></p>
        <% end %>
      </div>
      <% end %>
  </div>
  <div class="action">
    <%= link_to 'Ajouter un panel', new_panel_path, class: "button-action center" %>
  </div>
</div>
