<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @panel.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @panel.description %>
</p>

<p>
  <strong>Color1:</strong>
  <%= @panel.color1 %>
</p>

<p>
  <strong>Color2:</strong>
  <%= @panel.color2 %>
</p>

<p>
  <strong>Color3:</strong>
  <%= @panel.color3 %>
</p>

<p>
  <strong>Color4:</strong>
  <%= @panel.color4 %>
</p>

<p>
  <strong>Color5:</strong>
  <%= @panel.color5 %>
</p>

<p>
  <strong>Color6:</strong>
  <%= @panel.color6 %>
</p>

<%= link_to 'Edit', edit_panel_path(@panel) %> |
<%= link_to 'Back', panels_path %>
